<div class="carousel" data-carousel>
  <div class="carousel-buttons">
    <button
      class="carousel-button carousel-button_previous"
      data-carousel-button-previous
    >
      <span>
        &#x27E8;
      </span>
    </button>
    <button
      class="carousel-button carousel-button_next"
      data-carousel-button-next
    >
      <span>
        &#x27E9;
      </span>
    </button>
  </div>
  <div class="slides" data-carousel-slides-container>
    <div class="slide">
      
      <div class="first">
        <h2>Slide 1 heading</h2>
        <p>Slide 1 content</p>
      </div>
    </div>
    <div class="slide">
      
      <div class="second">
        <h2>Slide 1 heading</h2>
        <p>Slide 1 content</p>
      </div>
    </div>
    <div class="slide">
      
      <div class="third">
        <h2>Slide 1 heading</h2>
        <p>Slide 1 content</p>
      </div>
    </div>
    <div class="slide">
      
      <div class="forth">
        <h2>Slide 1 heading</h2>
        <p>Slide 1 content</p>
      </div>
    </div>
  </div>
</div>